<ion-view title="Map">
	 <body ng-controller="MapIndexCtrl">
  <ion-content data-tap-disabled="true">
		 <div class="hide-on-keyboard-open">

        <leaflet defaults="map.defaults"  center="map.center" markers="map.markers"  ng-if="map" height="400px"></leaflet>
		</div>
		
<form name="comments"  id="comments" novalidate>

  <label class="item item-input">
  <span class="input-label">input  
  </span>

   <label class="item item-input" >
    <textarea placeholder="Comments" name="textarea" cols="15" rows="1" ng-model="user.msg" > </textarea>
  </label>
  &nbsp;
  &nbsp;
      <button class="button button-balanced" ng-click="send(user,comments)"type = "submit">
  send
</button>
&nbsp;
&nbsp;
&nbsp;
  <button class="button button-balanced" ng-click="refresh()"type = "button">
  refresh
</button>
 
 
<br>

</label>
   </form>
	   
	 

<ion-list>
      <ion-item ng-repeat="item in items" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        {{item.name}}
      </ion-item>
    </ion-list>

	
    </ion-content>
</ion-view>
